<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @subscriber.ime %>
</p>

<p>
  <strong>Priimek:</strong>
  <%= @subscriber.priimek %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<%= link_to 'Uredi', edit_subscriber_path(@subscriber), :class => "btn btn-outline-warning" %> |
<%= link_to 'Nazaj', subscribers_path, :class => "btn btn-outline-info" %>
