<!DOCTYPE html>
<html>
  <head>
    <title>Through the Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
        <div class="container">
          <a class="navbar-barnd text-white" style="font-weight:bold;">Through the Rails</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
          </button>
          <div style="padding:5px"></div> <!-- Padding za preglednost -->
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <%= link_to "Domov", {:controller => :first, :action => :index}, {class: "nav-link text-light"}%>
              </li>
              <li class="nav-item">
                <%= link_to "TODO", {:controller => :first, :action => :index}, {class: "nav-link text-light"}%>
              </li>
              <li class="nav-item">
                <%= link_to "TODO", {:controller => :first, :action => :index}, {class: "nav-link text-light"}%>
              </li>
              <li class="nav-item">
                <%= link_to "Naročniki", {:controller => :subscribers, :action => :index}, {class: "nav-link text-light"}%>
              </li>
            </ul>
          </div>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
              <ul class="navbar-nav flex-grow-0">
                <li class="nav-item">
                  <%= link_to "Naroči se", {:controller => :subscribers, :action => :new}, {class: "btn btn-outline-dark"}%>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <main role="main" class="pb-3">
        <%= yield %>
      </main>
    </div>
    <footer class="border-top footer text-muted">
      <div class="container">
          &copy; Mlinarič, Korošec, Tkalčič - Ruby on Rails <!--<a id="datetime"></a> Ne rendera datuma vedno -->
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
